#contact_modal, #lightbox-global {
    display: none;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    border-radius: 5px;
    padding: 25px;
}

.infoPhotographe{
    display: flex;
    flex-flow: column nowrap;
}

.infoPhotographe p{
    display: flex;
    flex-flow: column nowrap;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
}


.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/* CSS pour le trieur popularité etc.. */

.sorter {
    margin: 30px 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    min-width: 300px;
    width: 20%;
}

.sorter label {
    margin-right: 25px;
    font-weight: bold;
}

.sorter select {
    background-color: #901C1C;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    min-width: 130px;
}


/* Info complémentaires */

.infoDetails {
    width: 300px;
    height: 50px;
    background-color: #DB8876;
    border-radius: 5px;
    position: fixed;
    bottom: -3px;
    right: 100px;
    display: flex;
    justify-content: space-between;
}


.infoDetails .price{
    margin-right: 15px;
}

.infoDetails .likeTotal{
    display: flex;
    margin-left: 15px;
}


/* modal errors*/


.formData[data-error]::after {
    content: attr(data-error);
    font-size: 1.2em;
    color: #5a0911;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
  }
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }

  .formData[data-error-visible="true"] .text-control {
    border: 2px solid #5a0911;
  }


  /* afficher images & vidéos du photographe */

  .user_pictures{
    margin: 0 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.mediaImage{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    cursor: pointer;
    max-width: 300px;
}

.imagePhotographer{
    height: 300px;
    width: 300px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: -10px;
}

.infoImage{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoImage .blockLike{
    width: 50px;
    display: flex;
    justify-content: space-around;
}

.titleImage{
    color: #901C1C;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* LIGHTBOX */

#lightbox-global {
    background-color: rgba(255, 255, 255, 1);
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.lightbox{
    height: 1050px;
    width: 1050px;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #901C1C;
    font-size: 24px;
}

.lightbox p{
    align-self:flex-start;
    margin-left: 12%;
}

.lightbox .fermetureLightbox{
    position: absolute;
    right: 19%;
    top: 5%;
    cursor: pointer;
}

.slider{
    display: flex;
    justify-content: space-around;
}

.slider .imageLightbox, .slider .videoLightbox{
    display: none;
    height: 800px;
    width: 800px;
    border-radius: 5px;
    object-fit: cover;
}

.chevron{
    margin: 0 25px;
    cursor: pointer;
}